/build
build/
.gradle
local.properties
.navigation
captures/
output.json

# IntelliJ
*.iml
.idea
/.idea/workspace.xml
/.idea/libraries
#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Android Profiling
*.hprof